SECRET_KEY=jwt-SECRET_KEY
APP_ENV=development
DB_HOST=localhost

CLOUDINARY_CLOUD_NAME=your-CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=your-CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=your-CLOUDINARY_API_SECRET

FIREBASE_PROJECT_ID=your-FIREBASE_PROJECT_ID
GOOGLE_APPLICATION_CREDENTIALS=your-json-app-GOOGLE_APPLICATION_CREDENTIALS
FRONTEND_URL=http://localhost:3000

MIDTRANS_SERVER_KEY=your-MIDTRANS_SERVER_KEY
MIDTRANS_ENV=sandbox
